@media only screen and (min-width: 571px) {
  body {
    background-image: url("./assets/desktopBackground.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .mainPageStyle {
    margin-top: 40px;
    backdrop-filter: blur(2px);
    height: 55vh;
  }

 

  .custom-container {
    margin: 40px auto;
    border: 2px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(2px);
  }

  .vertical-center {
    display: flex;
    align-items: center;
    height: 327px;
    
  }

  .nameTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50vw;
    color: rgb(252, 13, 13);
  }



  .profileImg {
 
 
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border-color: white;
    border-style:ridge;

    
  }



  .scaleDown {
    position: relative;
    scale: 0.5;
    display: flex;
    justify-content: center;
    
    /* width: 50vw; */
   
 
    
  }

  .attribution{
    position: relative;
    display: flex;
    justify-content: center;
  }
  

}

