@media only screen and (max-width: 570px) {
  body {
    background-image: url("./assets/desktopBackground.jpg");
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;
    /* height: 100vh; */
    height: 100dvh;
    overflow: hidden;
  }


  .mainPageStyle {
    margin-top: 20px;
  
  }
/* 
  .appStyle {
   
    backdrop-filter: blur(2px);
  } */

  .custom-container {
    backdrop-filter: blur(2px);
    margin: 2%;
    border: 2px solid #ddd;
    padding: 2%;
    border-radius: 8px;
    height: 98vh;
    width: 95vw;
  }

  .vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }

  .nameTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 1%;
    color: white;
  }

  .profileImg {
    position: relative;
    left: 2%;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    
    border-color: rgb(203, 208, 233);
    border-style:ridge;
  }

  .btn {
    width: 50vw;
  }

  .scaleDown {
    width: 10%;
    position: relative;
    display: flex;
    align-items: center;
    left: 45%;
    justify-content: center;
    top: 0vh;


  }

  .attribution{
    position: relative;
    top: 0vh;
  }


}

@media (max-height: 870px) {
  .attribution, .scaleDown{
    display: none;
  }
}
  @media (max-height: 700px) {
   .profileImg{
      display: none;
    }

}